/*************/
/* CSS RESET */
/*************/
@font-face {
  font-family: 'whySoSerious';
  src: url('../fonts/bearpaw_-webfont.woff2') format('woff2'),
       url('../fonts/bearpaw_-webfont.woff') format('woff');
  /* font-weight: normal;
  font-style: normal;
  font-display: fallback; */
}
/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}









/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-titelsKopjes: rgb(200, 0, 0);
  --color-kaarttafel:rgb(25, 95, 42);
  --color-cards:rgb(235, 223, 196);
  --color-tafelrand:rgb(238, 191, 120);
}





/********************/
/* ALGEMENE STYLING */
/********************/

body {
  /* min-height:100vh;
  background-image: url('../images/achtergrondLang.png');
  background-repeat: none; */
  background-color: rgb(27, 27, 27);
  cursor: url(/images/icons8-joker-dc-32.png) 15 10, pointer;
}

header {
  display: flex;
  justify-content: center;
}
h1 {
  
  font-family: whySoSerious, fantasy;
  font-size: 5em;
  color:var(--color-titelsKopjes);

}

 /* section:first-of-type {
  background-image: url('/images/achtergrondLang.png'); 
 } */

section:first-of-type {
  min-height:90vh; /* getypt door Sanne */
  background-size: contain;
  background-image: url('../images/achtergrond.jpg');
  
}

section:nth-of-type(2) {
  background-color: var(--color-kaarttafel);
  margin-left: 3em;
  margin-right: 3em;
  padding: 5em;
  border-radius: 40em/5em;/* https://css-tricks.com/almanac/properties/b/border-radius/ */
  /* border-radius: 30em 30em 0em 0em; */
  border-style: ridge;
  border-width: 20px;
  border-color: var(--color-tafelrand);
  box-shadow: inset 0px 5px 20px 5px black;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 5em;
  flex-wrap: wrap;

  /* flex-flow: row wrap; */
}

li {
  list-style: none;
}

button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-cards);
  height: 15em;
  width: 10em;
  /* flex-basis: 20%; */
  border-radius: .5em;
  box-shadow: inset 3px 3px 3px white, 0px 5px 10px black;
  font-family: 'whySoSerious';

}

li>button:hover {
  cursor: pointer;
  /* de image wil niet gepakt worden als cursor... */
  transform: rotatey(360deg);
  transition-duration: 2s;
}





