/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:0;
}

button:not([disabled]) {
  cursor:pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-kaarttafel:rgb(164, 7, 39);
  --color-cards:rgb(235, 223, 196);
}





/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color:var(--color-cards);
}

section {
  background-color: var(--color-kaarttafel);
  padding: 10em 5em 10em 5em;
}
ul {
  display: flex;
  gap: 5em;
  flex-wrap: wrap;
  /* flex-flow: row wrap; */
}

li {
  list-style: none;
  background-color: var(--color-cards);
  height: 13em;
  width: 9em;
  /* flex-basis: 20%; */
  border-radius: .5em;
  box-shadow: inset 3px 3px 3px white, 0px 5px 10px black;
  /* box-shadow: inset -5px -5px 1px white; */
}

li:hover {
  cursor:pointer;
  transform: rotatey(180deg);
  animation-duration: 1s;
}
/* GELUKT: de positionering van de kaarten lukte me niet helemaal,
heb het ook nog geprobeerd met grid, maar uiteindelijk gebleven bij flexbox.
de doorslaggevende stappen waren de flex-wrap, gap en padding */



