/*************/
/* CSS RESET */
/*************/
@font-face {
  font-family:'whySoSerious';
  src: url(/fonts/deathrattle-bb/deathrattlebb_reg.ttf);
}
/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:0;
  background-image: url(./images/achtergrond.png);
  background-size: cover;
}







/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-titelsKopjes: rgb(200, 0, 0);
  --color-kaarttafel:rgb(25, 95, 42);
  --color-cards:rgb(235, 223, 196);
  --color-tafelrand:rgb(238, 191, 120);
}





/********************/
/* ALGEMENE STYLING */
/********************/


h1 {
  font-family: 'whySoSerious';
  color:var(--color-titelsKopjes);
}

/* section:first-of-type {
  
  /* background-color: #cccccc; */
  /* height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; */


section:nth-of-type(2) {
  background-color: var(--color-kaarttafel);
  padding: 5em;
  border-radius: 40em/5em;/* https://css-tricks.com/almanac/properties/b/border-radius/ */
  /* border-radius: 30em 30em 0em 0em; */
  border-style: ridge;
  border-width: 20px;
  border-color: var(--color-tafelrand);
  box-shadow: inset 0px 5px 20px 5px black;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 5em;
  flex-wrap: wrap;

  /* flex-flow: row wrap; */
}

li {
  list-style: none;
}

button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-cards);
  height: 15em;
  width: 10em;
  /* flex-basis: 20%; */
  border-radius: .5em;
  box-shadow: inset 3px 3px 3px white, 0px 5px 10px black;
}

button:hover {
  cursor: url(/images/icons8-joker-dc-color-96.png);
  /* de image wil niet gepakt worden als cursor... */
  transform: rotatey(360deg);
  transition-duration: 2s;
}





